/* 
  display: flex; body를 flex 컨테이너로 설정
  flex-direction: column; 아이템들을 수직 방향으로 정렬
*/

body {
  display: flex;
  flex-direction: column; /* 세로 */
  align-items: center;  /* 교차 축 */
}

h1 {
  font-size: 3rem;
}

button {
  margin-left: 0.5rem;
}

#dday-div {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

/*
  자식 선택자 사용!
  id가 'dday-div' 인 요소의 자식 div 태그를 모두 선택
*/

#dday-div > div {
  margin-right: 1rem;
  
}